*.exe
*.o
*.log
*.root
*.so
*.d
*.txt
*.tgz
*.png
*.pdf
.__afs*
files
*Files
AutoDict*
*DS_Store
*.swp
*~
*\#
*C_ACLiC*
.nfs0000*

*/figures/*
*/yskimmedFiles/*
*/pdf/*
*/*/pdf/*
*/png/*
*/*/png/*
150112_JECClosure/ak*PF_gaus/
*CMSSW*
LSFJOB_*
backup*

ElectroWeak-Jet-Track-Analyses
pPbJPsiAnalysis
AccSysStudy
gammaJetAnalysis
gammaJetSystematics
hiForestMerging
hiForestV3
photonJetAnalysis2013
plotsHIN_11_010_thesis
HiForestAnalysis
photonHadron2014
